<% @bucket.bucket_schemas.each do |bucket_schema| %>
  <%= hidden_field_tag "translation_keys[#{bucket_schema.bucket_schema_name}][value]", bucket_schema.bucket_schema_name.downcase.gsub(' ', '_') %>
  <% if bucket_schema.col_type == "string" %>
    <div class="form-group">
      <%= label_tag bucket_schema.bucket_schema_name %>
      <%= text_field_tag "translation_keys[#{bucket_schema.bucket_schema_name}][#{language.language_key}]", Translation.find_by(bucket: @bucket, sub_bucket: sub_bucket, translation_key: bucket_schema.bucket_schema_name.downcase.gsub(' ', '_'), language: language) ? Translation.find_by(bucket: @bucket, translation_key: bucket_schema.bucket_schema_name.downcase.gsub(' ', '_'), language: language).text : nil, class: "form-control" %>
    </div>
  <% elsif bucket_schema.col_type == "text" %>
    <div class="form-group">
      <%= label_tag bucket_schema.bucket_schema_name %>
      <%= text_area_tag "translation_keys[#{bucket_schema.bucket_schema_name}][#{language.language_key}]", Translation.find_by(bucket: @bucket, sub_bucket: sub_bucket, translation_key: bucket_schema.bucket_schema_name.downcase.gsub(' ', '_'), language: language) ? Translation.find_by(bucket: @bucket, translation_key: bucket_schema.bucket_schema_name.downcase.gsub(' ', '_'), language: language).text : nil, class: "form-control" %>
    </div>
  <% elsif bucket_schema.col_type == "float" %>
    <div class="form-group">
      <%= label_tag bucket_schema.bucket_schema_name %>
      <%= number_field_tag "translation_keys[#{bucket_schema.bucket_schema_name}][#{language.language_key}]", Translation.find_by(bucket: @bucket, sub_bucket: sub_bucket, translation_key: bucket_schema.bucket_schema_name.downcase.gsub(' ', '_'), language: language) ? Translation.find_by(bucket: @bucket, translation_key: bucket_schema.bucket_schema_name.downcase.gsub(' ', '_'), language: language).text : nil, class: "text-field form-control", step: 0.01, placeholder: "ex: 99,99" %>
    </div>
  <% end %>
<% end %>
<%= hidden_field_tag :sub_bucket_id, sub_bucket.id %>