<nav class="navbar-wagon">
  <%= render "shared/flashes" %>
  <div class="container navbar-wagon-container">
    <ul class="list-unstyled list-inline nav-list">
      <li>
        <%= link_to "i18n.it", root_path, class: "brand" %>
      </li>
      <% if user_signed_in? %>
        <li class="pull-right">
          <%= link_to t(".sign_out", default: "Logout"), destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        </li>
        <li class="pull-right">
          <%= link_to t(".top_call_to_action", default: "My companies"), companies_path, class: "btn btn-danger pull-right" %>
        </li>
      <% else %>
        <li class="pull-right">
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-danger" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>