<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag project_path(@project), method: :put do %>
        <div class="form-group">
          <% @languages.each do |language| %>
            <%= label_tag language.language_key %>
            <%= check_box_tag language.language_key, (@project.languages.include? language) ? 1 : 0, (@project.languages.include? language) ? true : false %>
          <% end%>
        </div>
        <div class="form-group">
          <%= submit_tag 'Save', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('input').on('change', function() {
        if($(this).prop('checked')) {
          $(this).val(1)
        } else {
          $(this).val(0)
        }
      })
    })
  <% end %>
<% end %>