<div class="container-fluid">
  <div class="row">
    <div class="bread-crumb">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3><%= link_to @bucket.project.company.company_name, company_path(@bucket.project.company) %> > <%= link_to @bucket.project.project_name, project_path(@bucket.project) %> > <%= @bucket.bucket_name %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @bucket.kind == "s" %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="edit-bucket">
          <%= form_tag bucket_path(@bucket), method: :put do %>
            <table class="table">
              <thead>
                <tr>
                  <th>Translation key</th>
                  <% @bucket.project.languages.each do |language| %>
                    <th><%= language.language_key %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @translation_keys.each do |translation_key| %>
                  <tr>
                    <td><%= text_field_tag "translation_keys[#{translation_key}][value]", translation_key, class: "form-control" %></td>
                    <% @bucket.project.languages.each do |language| %>
                      <td><%= text_field_tag "translation_keys[#{translation_key}][#{language.language_key}]", Translation.find_by(bucket: @bucket, translation_key: translation_key, language: language) ? Translation.find_by(bucket: @bucket, translation_key: translation_key, language: language).text : nil, class: "form-control" %></td>
                    <% end %>
                  </tr>
                <% end %>
                <tr>
                  <td><%= text_field_tag "translation_keys[new_translation_key][value]", nil, placeholder: "New translation...", class: "form-control" %></td>
                  <% @bucket.project.languages.each do |language| %>
                    <td><%= text_field_tag "translation_keys[new_translation_key][#{language.language_key}]", nil, class: "form-control" %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
            <%= submit_tag "Save", class: "btn btn-success" %>
            <%= link_to "Manage languages", edit_project_path(@bucket.project), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% elsif @bucket.kind == "d" %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="edit-bucket">
          <%= form_tag bucket_path(@bucket), method: :put, remote: true do %>
            <div class="col-sm-3">
              <div class="sub-buckets-index">
                <ul class="list-unstyled">
                  <% @bucket.sub_buckets.each do |sub_bucket| %>
                    <li><%= link_to sub_bucket.sub_bucket_name, "#", class: "sub-bucket-nav-link", id: sub_bucket.id %></li>
                  <% end %>
                </ul>
                <div class="actions">
                  <%= link_to 'Add Sub bucket', new_bucket_sub_bucket_path(@bucket), class: "btn btn-success" %>
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <% @bucket.sub_buckets.each do |sub_bucket| %>
                <div class="edit-sub-bucket" id="sub_bucket_<%= sub_bucket.id %>">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="<%= '#' + sub_bucket.id.to_s + "_" + @bucket.project.languages.first.language_key %>" aria-controls="<%= sub_bucket.id.to_s + "_" + @bucket.project.languages.first.language_key %>" role="tab" data-toggle="tab"><%= @bucket.project.languages.first.language_key %></a></li>
                    <% @bucket.project.languages[1..-1].each do |language| %>
                      <li role="presentation"><a href="<%= '#' + sub_bucket.id.to_s + "_" + language.language_key %>" aria-controls="<%= sub_bucket.id.to_s + "_" + language.language_key %>" role="tab" data-toggle="tab"><%= language.language_key %></a></li>
                    <% end %>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="<%= sub_bucket.id.to_s + "_" + @bucket.project.languages.first.language_key %>">
                      <div class="other-bucket-schemas">
                        <% @bucket.other_bucket_schemas.each do |bucket_schema| %>
                          <%= render "sub_buckets/sub_bucket_form", sub_bucket: sub_bucket, language: @bucket.project.languages.first, bucket_schema: bucket_schema %>
                        <% end %>
                      </div>
                      <% if @bucket.cross_languages_bucket_schemas.size > 0 %>
                        <div class="cross-languages-bucket-schemas">
                          <div class="x-lang text-center">
                            <span>
                              <%= t('.cross_languages_fields', default: "Cross-languages fields") %>
                            </span>
                          </div>
                          <% @bucket.cross_languages_bucket_schemas.each do |bucket_schema| %>
                            <%= render "sub_buckets/sub_bucket_form", sub_bucket: sub_bucket, language: @bucket.project.languages.first, bucket_schema: bucket_schema %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                    <% @bucket.project.languages[1..-1].each do |language| %>
                      <div role="tabpanel" class="tab-pane" id="<%= sub_bucket.id.to_s + "_" + language.language_key %>">
                        <div class="other-bucket-schemas">
                        <% @bucket.other_bucket_schemas.each do |bucket_schema| %>
                          <%= render "sub_buckets/sub_bucket_form", sub_bucket: sub_bucket, language: language, bucket_schema: bucket_schema %>
                        <% end %>
                      </div>
                      <% if @bucket.cross_languages_bucket_schemas.size > 0 %>
                        <div class="cross-languages-bucket-schemas">
                          <div class="x-lang text-center">
                            <span>
                              <%= t('.cross_languages_fields', default: "Cross-languages fields") %>
                            </span>
                          </div>
                          <% @bucket.cross_languages_bucket_schemas.each do |bucket_schema| %>
                            <%= render "sub_buckets/sub_bucket_form", sub_bucket: sub_bucket, language: language, bucket_schema: bucket_schema %>
                          <% end %>
                        </div>
                      <% end %>
                      </div>
                    <% end %>
                    <div class="actions">
                      <%= submit_tag "Save", class: "btn btn-success js-target", id: "save_#{sub_bucket.id}" %>
                      <%= link_to "Add field", new_bucket_bucket_schema_path(@bucket), class: "btn btn-primary" %>
                      <%= link_to "Manage languages", edit_project_path(@bucket.project), class: "btn btn-primary" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <%= hidden_field_tag :sub_bucket_id %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= content_for :after_js do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      if(window.location.hash) {
        $(window.location.hash).click();
      } else {
        $('.sub-bucket-nav-link').first().click();
      }
    })
  <% end %>
<% end %>