<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3><%= @project.company.company_name %></h3>
      <h4><%= @project.project_name %></h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= form_for [@project, @bucket] do |f| %>
        <div class="form-group">
          <%= f.label :bucket_name, "Name" %>
          <%= f.text_field :bucket_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :kind, "Type" %>
          <%= f.select :kind, [["Simple", "s"], ["Detailed", "d"]], {}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Create", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>